*{
    padding:0;
    margin:0;
}


header{
    background-color: rgb(192, 227, 67);
    height:10em;
}

img{
    
    height: 60px;
    width: 100px;

}
.headings{
    float: right;
   padding: 20px;
   margin-right: 100px;
}
.headings a{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration: none;
color: darkgreen;
border: 2px solid rgb(233, 53, 9);
padding: 2px;
margin-right: 2px;
background-color: rgb(126, 218, 83);
}
.headings a:hover{
    background-color: rgb(134, 227, 232);
    color: blue;
    transition: 0.2s;
}
.carousel-item-active{
    height:680px;
  

}
.carousel-item-active img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 680px;
}

.carousel-item{
    height: 680px;
}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height:680px;
}


