*{
    padding:0;
    margin:0;
}


header{
    background-color: rgb(192, 227, 67);
    height:5em;
}

img{
    
    height: 50px;
    width: 90px;
}

.headings{
   float: right;
  
   padding: 1px;
   margin-top: 25px;
   margin-right: 10px;
}
.headings a{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration: none;
color: rgb(235, 240, 237);
border: 2px solid rgba(10, 10, 10, 0.125);
padding-top: 5px;

margin-right: 20px;
background-color: rgb(84, 87, 94);
}
.headings a:hover{
    background-color: rgb(134, 227, 232);
    color: blue;
    transition: 0.2s;
}
.dropdown{
    float: right;
    padding-top: 20px;
    padding-right: 150px;
}
.title2{
    color: rgb(64, 61, 221);

    margin-left: 600px;
    margin-top:-47px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    float: right;
    color: crimson;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -40px;
  margin-right: 700px;
  
}


.carousel-item-active{
    height:680px;
}
.carousel-item-active img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 680px;
}

.carousel-item{
    height: 680px;
}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height:680px;
    transition: .1s;
}
h1{
   
   color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: darkblue;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


